@media screen and (max-width: 768px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 768px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
   @media screen and (max-width: 475px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    img {
      height: 35px;
    }
    .topnav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .hero-content .hero-headline {
      padding: 0;
      font-size: 2.5em;
    }
    .hero-content .hero-text {
      width: 280px;
    }
  }

  @media screen and (max-width: 800px) {
    .hero-section {
      display: block;
      box-shadow: unset;
      height: auto;
    }
    .hero-content {
      background: #fff;
      color: #000;
      padding: 20px;
    }
    .hero-content::after {
      content: unset;
    }
    .hero-content .btn-signup {
      display: none;
    }
    .hero-headline {
      font-size: 3em;
      white-space: normal;
    }
    .hero-text {
      width: auto;
      font-size: 1em;
    }
    .hero-img img {
      border-radius: 10px;
      margin-top: 40px;
    }
    .hero-section > .btn-signup {
      display: block;
      margin: 32px auto 10px;
      padding: 12px 35px;
    }
    .copyrights {
      margin-top: 50px;
      text-align: center;
    }
  }