:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* Landing Page */
  
  body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-default);
    font-size: 18px;
    max-width: 1300px;
    margin: 0 auto;
  }
  p {
    margin-bottom: 0;
    padding: 0.5vw;
  }
  
  img {
    padding-right: 1rem;
  }
  
  .topnav {
    overflow: hidden;
    margin: 3.5%;
  }
  .header-logo {
      float: left;
  }
  .main-navbar {
      float: right;
  }
  i {
    color: red;
  }
  i:hover {
    color: #fff;
  }
  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 12px 12px;
    margin: 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: Roboto, sans-serif;
  }
  
  .topnav a:hover  {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 15px;
    text-decoration: underline;
  }
  
  /*.topnav a.active {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 15px;
  }*/ /* a supprimer car sert a rien */
  
  .topnav .icon {
    display: none;
  }
  
  main {
    font-size: 130%;
    font-weight: bolder;
    color: black;
    padding-top: 0.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 1px 20px 15px;
    border-radius: 2rem;
    text-align: justify;
  }
  
  .modal-btn {
    font-size: 145%;
    background: #fe142f;
    display: flex;
    margin: auto;
    padding: 2em;
    color: #fff;
    padding: 0.75rem 2.5rem;
    border-radius: 1rem;
    cursor: pointer;
  }
  
  .modal-btn:hover {
    background: #3876ac;
  }

  footer {
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 0 20px;
  }
  .copyrights {
    color: #fe142f;
    padding: 0;
    font-size: 1rem;
    margin: 60px 0 30px;
    font-weight: bolder;
  }
  /* color of error message */
  .errorName {
    color: red;
    font-size: small;
  }